<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ApiGateway.dll .\ApiGateway.dll .\ApiGateway.dll .\ServiceManager.dll .\ServiceManager.dll .\ApiGateway.dll .\ServiceManager.dll .\ApiGateway.dll .\ApiGateway.dll .\ServiceManager.dll .\ServiceManager.dll .\ApiGateway.dll .\ApiGateway.dll .\ServiceManager.dll .\ServiceManager.dll .\ApiGateway.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: B09FF475-BBE3-4B06-9242-819402C67718-->
<!--ProjectGuid: 06CF6B1D-9DBA-4C14-BF37-DB571C98FC29-->